<!DOCTYPE html>
<html lang="en">
<body>

<div th:fragment="mobile_menu()"
     class="menu-mobile menu-activated-on-click color-scheme-dark">

  <div class="mm-logo-buttons-w">
    <a class="mm-logo" href="../index.html">
      <img th:src="@{/img/logo.png}"><span>Invoice PRO</span></a>
    <div class="mm-buttons">
      <div class="content-panel-open">
        <div class="os-icon os-icon-grid-circles"></div>
      </div>
      <div class="mobile-menu-trigger">
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>

  <div class="menu-and-user">
    <div class="logged-user-w">
      <div class="avatar-w">
        <img th:src="@{/img/avatar1.png}"></div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">Бухгалтер</div>
        <div class="logged-user-role">Администратор</div>
      </div>
    </div>

    <ul class="main-menu">
      <li class="has-sub-menu">
        <a href="../index.html">
          <div class="icon-w">
            <div class="os-icon os-icon-layout"></div>
          </div>
          <span>Меню</span>
        </a>

        <ul th:replace="~{side_panel/links :: links('sub-menu', true)}"></ul>
      </li>
    </ul>

  </div>
</div>


</body>
</html>