<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="main(tasks)"
     class="content-i">
  <div class="content-box">
    <div class="element-wrapper">
      <h6 class="element-header">Статистика</h6>
      <div class="element-box">
        <div class="os-tabs-w">
          <div class="os-tabs-controls">
            <ul class="nav nav-tabs smaller">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab_overview">Выполнено</a>
              </li>
            </ul>
            <ul class="nav nav-pills smaller d-none d-md-flex">
              <li th:replace="~{p/nav :: nav(${statsFor}, 'day', 'Сегодня')}"></li>
              <li th:replace="~{p/nav :: nav(${statsFor}, 'week', 'За неделю')}"></li>
              <li th:replace="~{p/nav :: nav(${statsFor}, 'month', 'За месяц')}"></li>
              <li th:replace="~{p/nav :: nav(${statsFor}, 'quarter', 'За квартал')}"></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_overview">
              <div class="el-tablo bigger">
                <div class="label">Сумма платежей в</div>
                <div class="value">12537 р</div>
              </div>
              <div class="el-chart-w">
                <canvas height="150px" id="lineChart" width="600px"></canvas>
              </div>
            </div>
            <div class="tab-pane" id="tab_sales"></div>
            <div class="tab-pane" id="tab_conversion"></div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="~{p/info :: info(${done_header}, ${done_values}, false)}"></div>
  </div>
</div>

</body>
</html>