<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Новый агентский договор</title>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="template language" name="keywords">
  <meta content="Tamerlan Soziev" name="author">
  <meta content="Admin dashboard html template" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link th:href="@{/favicon.png}" rel="shortcut icon">
  <link th:href="@{/apple-touch-icon.png}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
  <link th:href="@{/bower_components/select2/dist/css/select2.min.css}" rel="stylesheet">
  <link th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
  <link th:href="@{/bower_components/dropzone/dist/dropzone.css}" rel="stylesheet">
  <link th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/bower_components/fullcalendar/dist/fullcalendar.min.css}" rel="stylesheet">
  <link th:href="@{/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css}" rel="stylesheet">
  <link th:href="@{/bower_components/slick-carousel/slick/slick.css}" rel="stylesheet">
  <link th:href="@{/css/main.css?version=4.4.0}" rel="stylesheet">
</head>

<body class="menu-position-side menu-side-left full-screen">
<div class="all-wrapper solid-bg-all">
  <div th:replace="~{search :: search()}"></div>
  <div class="layout-w">
    <div th:replace="~{mobile_menu :: mobile_menu()}"></div>
    <div th:replace="~{main_menu :: main_menu()}"></div>
    <div class="content-w">
      <div class="content-i">
        <div class="content-box">
          <div class="row pt-4">
            <div class="col-sm-12">

              <!--------------------
        START - Breadcrumbs
        -------------------->
              <ul class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="../index.html">Главная</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="../index.html">Договоры</a>
                </li>
                <li class="breadcrumb-item">
                  <span>Новый договор</span>
                </li>
              </ul>
              <!--------------------
        END - Breadcrumbs

        <div class="content-panel-toggler">
          <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
        </div>
        <div class="content-i">
          <div class="content-box"><div class="row">
<div class="col-sm-12">-------------------->
              <div class="element-wrapper">
                <div class="element-box">
                  <form th:action="@{/contract/create}" method="POST" th:object="${paper}" id="formValidate">
                    <h5 class="form-header">Новый агентский договор</h5>

                    <fieldset class="form-group">
                      <legend><span>Общая информация</span></legend>
                      <div class="row">

                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Организация</label>
                            <input th:field="*{contract.clientID}"
                                   class="form-control" required="required" type="text">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Номер договора</label>
                            <input th:field="*{contract.contractNumber}"
                                   class="form-control" data-error="Укажите номер договора"
                                   placeholder="AD-XXXX" required="required" type="text">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label> Дата заключения договора</label>
                            <input th:field="*{contract.signingDate}"
                                   class="single-daterange form-control" placeholder="Дата начала" type="text"
                                   value="01/02/2024">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label> Дата планового завершения договора</label>
                            <input th:field="*{contract.planFinishDate}"
                                   class="single-daterange form-control" placeholder="Дата планового окончания"
                                   type="text" value="01/02/2025">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Сторона уплаты налога</label>

                            <select th:field="*{contract.user}" class="form-control">
                              <option th:value="'Company'" th:text="'Организация'"></option>
                              <option th:value="'Service'" th:text="'Сервис'" selected></option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Статус договора</label>
                            <select th:field="*{contract.contractStatus}" class="form-control">
                              <option th:value="'A'" th:text="'Активен'" selected></option>
                              <option th:value="'B'" th:text="'На подписании'"></option>
                              <option th:value="'C'" th:text="'Расторгнут'"></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Индекс</label>
                            <input th:field="*{contract.index}"
                                   class="form-control" data-error="Укажите индекс адреса организации"
                                   placeholder="XXXXXX" required="required" type="text">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Город</label>
                            <input th:field="*{contract.city}"
                                   class="form-control" data-error="Укажите город регистрации организации"
                                   placeholder="Москва" required="required" type="text">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Адрес</label>
                            <input th:field="*{contract.address}"
                                   class="form-control" data-error="Укажите адрес организации"
                                   placeholder="Проспект Андропова, д.1" required="required" type="text">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset class="form-group">
                      <legend><span>Контакты</span></legend>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>ФИО 1</label>
                            <input th:field="*{contact1.fullName}"
                                   class="form-control" data-error="Укажите ФИО"
                                   placeholder="ФИО" required="required" type="text">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>email 1</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">mail</div>
                              </div>
                              <input th:field="*{contact1.email}"
                                     class="form-control" placeholder="xxxxxxx@xxxx.xx" type="text"
                                     required="required">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Приём документов</label>
                            <select th:field="*{contact1.accepts}"
                                    class="form-control" required="required">
                              <option th:value="'Y'" th:text="'Да'" selected></option>
                              <option th:value="'N'" th:text="'Нет'"></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>ФИО 2</label>
                            <input th:field="*{contact2.fullName}"
                                   class="form-control" placeholder="ФИО" type="text">
                            <div></div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>email 2</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">mail</div>
                              </div>
                              <input th:field="*{contact2.email}"
                                     class="form-control" placeholder="xxxxxxx@xxxx.xx" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Приём документов</label>
                            <select th:field="*{contact2.accepts}"
                                    class="form-control">
                              <option th:value="'Y'" th:text="'Да'"></option>
                              <option th:value="'N'" th:text="'Нет'" selected></option>
                            </select>
                          </div>
                        </div>
                      </div>

                    </fieldset>

                    <div th:replace="~{p/but :: div_but(${can_write}, 'Зарегистрировать')}"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="display-type"></div>

  </div>
</div>
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/bower_components/moment/moment.js}"></script>
<script th:src="@{/bower_components/chart.js/dist/Chart.min.js}"></script>
<script th:src="@{/bower_components/select2/dist/js/select2.full.min.js}"></script>
<script th:src="@{/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js}"></script>
<script th:src="@{/bower_components/ckeditor/ckeditor.js}"></script>
<script th:src="@{/bower_components/bootstrap-validator/dist/validator.min.js}"></script>
<script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js}"></script>
<script th:src="@{/bower_components/dropzone/dist/dropzone.js}"></script>
<script th:src="@{/bower_components/editable-table/mindmup-editabletable.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/bower_components/fullcalendar/dist/fullcalendar.min.js}"></script>
<script th:src="@{/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/bower_components/tether/dist/js/tether.min.js}"></script>
<script th:src="@{/bower_components/slick-carousel/slick/slick.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/util.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/alert.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/button.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/carousel.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/collapse.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/dropdown.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/modal.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/tab.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/tooltip.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/popover.js}"></script>
<script th:src="@{/js/demo_customizer.js?version=4.4.0}"></script>
<script th:src="@{/js/main.js?version=4.4.0}"></script>
<script th:src="@{/js/isogram.js}"></script>
</body>

</html>