<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<h2>Admin</h2>

<h3>Календарь - <a th:href="@{/apps_calendar}">calendar</a></h3>

<h3>Выполненное - <a th:href="@{/apps_done}">done</a></h3>

<h3>Заявки - <a th:href="@{/apps_tasks}">tasks</a></h3>

<h3>Клиенты - <a th:href="@{/apps_clients}">clients</a></h3>

<h3>Валюты - <a th:href="@{/currency}">cyr</a></h3>

<h3>Новый клиент - <a th:href="@{/apps_new_client}">new client</a></h3>

<h3>Новый договор - <a th:href="@{/apps_new_paper}">new paper</a></h3>

<h3>Договоры - <a th:href="@{/apps_papers}">papers</a></h3>

<h3>Сервисы - <a th:href="@{/services}">services</a></h3>

<h3>Аутентификация - <a th:href="@{/auth_login}">auth login</a></h3>

<h3>Роли - <a th:href="@{/role}">roles</a></h3>

<h2>Client</h2>

<h3>Клиенты - <a th:href="@{/apps_client_dashboard}">client dashboard</a></h3>

<h3>Новая заявка - <a th:href="@{/task/new}">new invoice</a></h3>

<h3>Заявка - <a th:href="@{/apps_task}">task</a></h3>

</body>

</html>