<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <a th:href="@{/apps_calendar}">apps_calendar</a>
    <br>
    <a th:href="@{/apps_client_dashboard}">apps_client_dashboard</a>
    <br>
    <a th:href="@{/apps_done}">apps_done</a>
    <br>
    <a th:href="@{/task/new}">apps_new_invoice</a>
    <br>
    <a th:href="@{/apps_task}">apps_task</a>
    <br>
    <a th:href="@{/apps_tasks}">apps_tasks</a>
    <br>
    <a th:href="@{/apps_clients}">apps_clients</a>
    <br>
    <a th:href="@{/currency}">apps_cyr</a>
    <br>
    <a th:href="@{/apps_new_client}">apps_new_client</a>
    <br>
    <a th:href="@{/apps_new_paper}">apps_new_paper</a>
    <br>
    <a th:href="@{/apps_papers}">apps_papers</a>
    <br>
    <a th:href="@{/services}">apps_services</a>
</body>

</html>