<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <a th:href="@{/apps_calendar}">Календарь - apps_calendar</a>
    <br>
    <a th:href="@{/apps_client_dashboard}">Клиенты - apps_client_dashboard</a>
    <br>
    <a th:href="@{/apps_done}">Выполненное - apps_done</a>
    <br>
    <a th:href="@{/task/new}">Новая заявка - apps_new_invoice</a>
    <br>
    <a th:href="@{/apps_task}">Заявка - apps_task</a>
    <br>
    <a th:href="@{/apps_tasks}">Заявки - apps_tasks</a>
    <br>
    <a th:href="@{/apps_clients}">Клиенты - apps_clients</a>
    <br>
    <a th:href="@{/currency}">Валюты - apps_cyr</a>
    <br>
    <a th:href="@{/apps_new_client}">Новый клиент - apps_new_client</a>
    <br>
    <a th:href="@{/apps_new_paper}">Новый договор - apps_new_paper</a>
    <br>
    <a th:href="@{/apps_papers}">Договоры - apps_papers</a>
    <br>
    <a th:href="@{/services}">Сервисы - apps_services</a>
</body>

</html>