<!DOCTYPE html>
<html lang="en">

<body>

<div th:fragment="info(name, header, values, can_write)"
    class="element-box">
  <h6 th:text="${name}" class="element-header"></h6>
  <div class="element-box-tp">
    <div class="table-responsive">
      <table class="table table-padded">
        <tbody th:replace="~{p/list :: header(${header})}"></tbody>
        <th:block th:if="${can_write}">
          <tbody th:replace="~{p/list :: rows_button(${values}, ${can_write})}"></tbody>
        </th:block>
        <th:block th:if="${!can_write}">
          <tbody th:replace="~{p/list :: rows(${values})}"></tbody>
        </th:block>

      </table>
    </div>
  </div>
</div>

</body>
</html>