<!DOCTYPE html>
<html lang="en">

<body>
<thead th:fragment="header(values)">
<tr>
  <th th:each="value: ${values}" th:text="${value}"></th>
</tr>
</thead>

<tbody th:fragment="rows(values)">
<tr th:each="value: ${values}">
    <td th:each="v: ${value}" th:text="${v}"></td>
</tr>
</tbody>

<tbody th:fragment="rows_button(values, can_write)">
<tr th:each="value: ${values}">
  <td th:each="v: ${value}" th:text="${v}"></td>
  <td th:insert="~{p/but :: buttons_l(${can_write}, 'Удалить пользователя')}" class="row-actions"></td>
</tr>
</tbody>

</body>
</html>